# Python Review

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [ ]:
print("My name is Psy.\nI am a student at North Seattle College.")

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [1]:
phone = "2063888637"  # Assign the phone number as a string
print("My phone number is\n" + phone)

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [ ]:
name = "Psy"  # Replace with your name
phone = "206-388-8637"  # Replace with the phone number with dashes

print(f"Hello my name is {name} and my phone number is {phone}")

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [ ]:
month, year = "June", 2026 
print(f"I graduate in {June} of {2026}.")

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [ ]:
ans = 12 * 5 - 3 / 2  # Perform the calculation: 12 * 5 - 3 / 2
print(ans)

# The type of ans is a float, because the division (3 / 2) results in a floating-point number.

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [ ]:
month = "October"  # Variable holding the month

if month == "October":  # Check if the variable equals "October"
    print("31 days")
else:
    print("30 days")

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [ ]:
number = 140  # Variable holding the number

if number > 150:
    print("greater than 150")
elif number > 100 and number < 151:
    print("between 100 and 150")
else:
    print("less than 100")

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [ ]:
number = 70 # Variable holding the number.

# 1st condition: Check if the number is divisible by both 5 and 10
if number % 5 == 0 and number % 10 == 0:
    print("Number is divisible by 5 and 10.")

# 2nd condition: Check if the number is divisible by 7 or by 2
if number % 7 == 0 or number % 2 == 0:
    print("Number is divisible by 7 or by 2.")

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [ ]:
for number in range(1, 101):  # Loop through numbers from 1 to 100 (inclusive)
    if number % 7 == 0:  # Check if the number is divisible by 7
        print(number)

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [ ]:
number = 1  # Start from 1
sum_of_numbers = 0  # Variable to store the sum

# Loop through numbers from 1 to 10
while number <= 10:
    if number % 3 == 0:  # Check if the number is divisible by 3
        print(number, end=" ")  # Print the number with a space
        sum_of_numbers += number  # Add the number to the sum
    number += 1  # Move to the next number

# Print the sum on a new line
print("\nSum:", sum_of_numbers)

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [ ]:
for set_number in range(1, 6):  # Outer loop for the 5 sets
    print(f"Set: {set_number}")  # Print the set number

    # Inner loop for numbers 1 through 5 in each set
    for number in range(1, 6):  
        if number % 2 == 0:  # Check if the number is divisible by 2
            for _ in range(5):  # Print "Student (number)" 5 times
                print(f"Student {number}")

    # Optional: Leave a blank line between sets for readability
    print()

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [ ]:
school = "Hogwarts"  # Variable holding the string "Hogwarts"

# Slicing the string "Hogwarts"
first = school[:3]  # Slices out "Hog" (first 3 characters)
second = school[3:]  # Slices out "warts" (from index 3 to the end)

# Print the sliced parts
print(first)
print(second)

# Print the last letter of the string "school"
print(school[-1])

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [ ]:
chars = ["Thor", "She-Hulk", "Loki"]  # List holding the characters

# Loop through each character in the list
for character in chars:
    print(f"{character} is a character in the Marvel Cinematic Universe.")

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [ ]:
# Create a nested list called months with month names and their corresponding days
months = [
    ["January", 31],
    ["February", 28],  # Note: Using 28 for simplicity, not accounting for leap years
    ["March", 31],
    ["April", 30],
    ["May", 31],
    ["June", 30]
]

# Loop through the nested list using range and len
for i in range(len(months)):
    month_name = months[i][0]  # Get the month name
    month_days = months[i][1]  # Get the number of days in the month
    print(f"{month_name} has {month_days} days.")

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [ ]:
# Create the dictionary 'dog' with the provided data
dog = {
    "Breed": "Corgi",
    "Age Exp.": 13,
    "Type": "Cattle herding"
}

# Print the entire dictionary
print(dog)

# Print the value of the 'Breed' key
print(dog["Breed"])

# Use the values in the dictionary to print the sentence
print(f"The {dog['Breed']} is expected to live about {dog['Age Exp.']} years.")